@import "tailwindcss";

:root {
  --background: #1717171;
  --foreground: #ffffff;
}

body {
  color: var(--background);
  font-family: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
